:root {
    --main-color: #20272b;
    --text-color: #f3f4f4;
}

@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/SegoeUI-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI.woff") format("woff"),
        url("../fonts/SegoeUI.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 20px;
    @media screen and (max-width: 2000px) {
        font-size: 16px;
    }
    @media screen and (max-width: 1400px) {
        font-size: 12px;
    }
}
.v-application {
    &--wrap {
        background-color: var(--main-color);
        color: var(--text-color);
        font-size: 1rem;
        font-family: "Segoe UI", sans-serif;
        padding-top: 150px;
    }
    a {
        color: unset !important;
    }
    a,
    button,
    svg {
        transition: 0.3s;
    }
}
.v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > th,
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > td,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > td {
    font-size: 1.3rem !important;
}
.v-input__control {
    position: relative;
}
.v-input__slot {
    margin-bottom: 0;
}
.v-text-field__details {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
}
.v-text-field--filled:not(.v-text-field--single-line) input {
    margin-top: 0;
}
.w-100 {
    width: 100%;
}

#start {
    .v-tabs-slider-wrapper {
        height: 5px !important;
    }
    .centered-input.v-text-field {
        padding: 0;
        margin: 0;
        border: 1px solid #fff;

        .v-input__slot {
            height: 56px;
            padding: 0 10px;
            input {
                text-align: center;
                font-size: 1.3rem;
            }
        }
    }
    .centered-input.v-text-field .v-label {
        left: 50% !important;
        transform: translateX(-50%);
        transform-origin: 0 50%;
        padding: 0 5px 0;
        font-size: 1.1rem;
        height: auto;
        max-height: unset;
        line-height: 1;

        &.v-label--active {
            background: var(--main-color);
            transform: translateY(-24px) scale(0.75) translateX(-50%);
        }
    }

    .v-input--selection-controls__input {
        .v-icon.v-icon {
            font-size: 1.5rem;
        }
        & + .v-label {
            font-size: 1.25rem;
            font-weight: 400;
        }
    }

    .theme--dark.v-text-field.centered-input > .v-input__control > .v-input__slot:before {
        display: none;
    }
    .theme--dark.v-text-field.centered-input > .v-input__control > .v-input__slot:after {
        display: none;
    }
    .v-file-input {
        .v-label {
            font-weight: 700;
            color: #f3f4f4;
        }
    }
}

.theme--dark.v-data-table {
    background-color: transparent !important;
    table {
        border-collapse: collapse !important;
    }
    td,
    th {
        border: 1px solid #8c8f92 !important;
        padding: 5px 15px !important;
    }
}

.dividents_form {
    .v-text-field {
        max-width: 100px;
        input {
            text-align: center;
        }
    }
}

@media (min-width: 1904px) {
    .container {
        max-width: 2300px;
    }
}
@media screen and (max-width: 1900px) {
    .v-application {
        .header {
            .v-text-field--outlined > .v-input__control > .v-input__slot {
                min-height: 40px !important;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .v-application {
        &--wrap {
            padding-top: 75px;
        }
    }
}
